# Linear Regression

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
a=pd.read_csv("D:\\college\\Coding Ninja AI\\26_Linear_Regression\\31_Assignment\\train.csv")
df=a.copy()
df.head(3)

,# age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,Y
0,-0.049105,-0.044642,0.160855,-0.046985,-0.029088,-0.019790,-0.047082,0.034309,0.028017,0.011349,346.0
1,-0.070900,0.050680,-0.089197,-0.074528,-0.042848,-0.025739,-0.032356,-0.002592,-0.012908,-0.054925,104.0
2,0.001751,-0.044642,-0.070875,-0.022885,-0.001569,-0.001001,0.026550,-0.039493,-0.022512,0.007207,49.0

In [3]:
df=a.copy()
x=np.array(df.iloc[:,:-1])
y=np.array(df.iloc[:,-1])

In [4]:
from sklearn import model_selection
X_train,X_test,Y_train,Y_test=model_selection.train_test_split(x,y,test_size=0.0001)

In [5]:
from sklearn.linear_model import LinearRegression
alg1=LinearRegression()
alg1.fit(X_train,Y_train)

LinearRegression()

In [6]:
y_pred = alg1.predict(X_test)
print(y_pred)

[118.52959386]

In [7]:
train_table=pd.read_csv("D:\\college\\Coding Ninja AI\\26_Linear_Regression\\31_Assignment\\test.csv")
train_data=np.array(train_table.iloc[:,:])

In [8]:
y_train_pred = alg1.predict(train_data)
for i in y_train_pred:
    print("{0:.5f}".format(i),end=" , ")

104.64877 , 178.48672 , 79.68333 , 52.75521 , 98.21510 , 150.43851 , 35.50718 , 112.80095 , 160.51556 , 135.36330 , 94.44726 , 137.54998 , 141.32624 , 158.64867 , 171.59004 , 106.06752 , 103.95648 , 95.85483 , 167.32767 , 166.35204 , 101.53552 , 252.40102 , 146.58214 , 214.97891 , 161.85902 , 210.60052 , 70.68665 , 189.39657 , 205.88349 , 220.10818 , 168.81538 , 116.29206 , 178.38901 , 75.91717 , 59.54328 , 111.39499 , 156.50257 , 153.95583 , 198.96606 , 115.07235 , 153.14559 , 84.65334 , 113.29487 , 142.40263 , 147.13397 , 82.40369 , 77.33128 , 128.75352 , 261.58741 , 213.14867 , 244.60379 , 167.92178 , 183.68942 , 166.97863 , 202.32708 , 220.21074 , 172.07381 , 176.23437 , 109.19656 , 276.77897 , 90.34848 , 289.79414 , 120.27267 , 75.18895 , 180.99967 , 145.89904 , 156.17358 , 40.57252 , 248.11203 , 208.08403 , 90.49509 , 222.39990 , 190.62180 , 181.84849 , 164.72905 , 190.30741 , 105.79022 , 199.64717 , 246.39228 , 122.91731 , 118.93792 , 145.98499 , 206.31539 , 151.19264 , 141.64346 , 154.64398 , 115.48416 , 134.01162 , 118.41557 , 203.36113 , 170.59479 , 126.28344 , 56.40024 , 232.64615 , 185.14728 , 187.49707 , 83.56567 , 185.96298 , 217.13551 , 108.13893 , 80.52209 , 127.27669 , 242.47249 , 156.31833 , 125.76797 , 246.61482 , 235.18774 , 190.97879 , 167.83231 , 162.41700 ,